%section#contact.section.contact_section.even
  .section_header.contact_section_header
    %h2.section_title.contact_section_title
      = link_to "#" do
        %span.icon.icon-envelope-alt= fa_icon "envelope"
        %span.section_name Contact
      %span.section_icon

  .section_body.contact_section_body
    #googlemap_data
      #sc_googlemap.sc_googlemap{ style: "width:100%;height:294px;" }
      .add_info
        .profile_row.header Contact info
        .profile_row.address
          %span.th Address
          %span.td
        .profile_row.email
          %span.th Email
          %span.td
        .profile_row.website
          %span.th Website
          %span.td

    .sidebar.contact_sidebar
      %aside#qrcode-vcard-widget-2.widget.widget_qrcode_vcard
        %h3.widget_title VCARD
        .widget_inner
          .qrcode

    .contact_form
      .contact_form_data
        .sc_contact_form
          %h3.title keep in touch
          %form
            .field
              %label.required Name
              %input#sc_contact_form_username{ type: "text", name: "username" }
            .field
              %label.required Email
              %input#sc_contact_form_email{ type: "text", name: "email" }
            .field.message
              %label.required Your Message
              %textarea#sc_contact_form_message{ name: "message" }
            .button
              = link_to "#", class: "enter" do
                %span Submit

          .result.sc_infobox
