%section#portfolio.section.portfolio_section.odd
  .section_header.portfolio_section_header
    %h2.section_title.portfolio_section_title
      = link_to "#" do
        %span.icon.icon-briefcase= fa_icon "briefcase"
        %span.section_name Portfolio
      %span.section_icon

  .section_body.portfolio_section_body
