%section#resume.section.resume_section.even
  .section_header.resume_section_header
    %h2.section_title.resume_section_title
      = link_to "#" do
        %span.icon.icon-align-left= fa_icon "align-left"
        %span.section_name Resume
      %span.section_icon

  .section_body.resume_section_body
    .sidebar.resume_sidebar
      %aside.widget.widget_skills
        %h3.widget_title Programming skills
        .widget_iner.style_1
          .skills_row.odd.first
            %span.caption Ruby on Rails
            %span.progressbar
              %span{ "data-process": "90%" }

      -#%aside.widget.widget_skills

      -#%aside.widget.widget_skills

    -#.wrapper.resume_wrapper
