jQuery(".sc_contact_form .result").toggleClass("sc_infobox_style_error", false).toggleClass("sc_infobox_style_success", false);
jQuery(".sc_contact_form .result").addClass("sc_infobox_style_success").html("Your message is sent! Thank you.");
setTimeout("jQuery('.sc_contact_form .result').fadeOut(); jQuery('.sc_contact_form form').get(0).reset();", 3000);
