@import "shiftcv/style";
@import "shiftcv/responsive";
@import "shiftcv/shift-settings";
@import "shiftcv/dark-theme";
@import "shiftcv/prettyPhoto";
@import "shiftcv/jquery.reject";
@import "shiftcv/mediaplayer";
@import "font-awesome";

.icon {
  display:block !important;
  font-size: 28px !important;
  line-height: 60px !important;
  vertical-align: bottom !important;

  i {
    position: absolute !important;
    top: 17px !important;
    left: 17px !important;
  }
}

#header .social_buttons {
  padding-top: 20px;
  float: right;
  margin-right: 57px;
  overflow: hidden;

  li {
    list-style: none;
    float: left;
    margin-left: 13px;

    a {
      color: #3b3b3b;
      font-size: 23px;
      display: block;
      width: 22px;
      height: 22px;
      overflow: hidden;
      white-space: nowrap;

      &:hover {
        color: #c3c4c3;
      }
    }
  }
}

@media (max-width: 767px) {
	#header .social_buttons {
    margin-right:78px;
  }
}

@media (max-width: 479px) {
	#header .social_buttons {
    margin-right:125px;
  }

	#header .social_buttons li {
    margin-left:2px!important;
    width: 30px;
  }
}
