@import "shiftcv/style";
@import "shiftcv/responsive";
@import "shiftcv/responsive";
@import "shiftcv/shift-settings";
@import "shiftcv/dark-theme";
@import "shiftcv/prettyPhoto";
@import "shiftcv/jquery.reject";
@import "shiftcv/mediaplayer";
@import "font-awesome";

.icon {
  display:inline-block !important;
  font-size: 25px !important;
  line-height: 55px !important;
  text-align: center !important;
  vertical-align: bottom !important;
}
